// Specific CSS for your home-page
body {
  background: url(background.png);
  background-size: cover;

}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white;
}

a.nav-link:hover {
  display:inline-block;
    border-bottom:1px solid white;
}

.container {
  margin-left: 40px;

}

.btn-primary {
  font-family: Open Sans;
  border-radius: 10px;
  color: $gray;
  background-color: $mainColor;
  border: none;
  color: white;
  padding: 18px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #009f9d;
}

.header {
  font-weight: bold;
  font-size: 56px;
  margin-top: 248px;
  margin-bottom: 10px;
  font-family: $headers-font;
}

.sub-header {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: $sub-headers-font;
}

.box {
  margin: 2px;
  height: 60px;
  border-radius: 10px;
}
