// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 63px);
  display: flex;
  align-items: center;
}

.signin-image {
  height: 500px;
  position: absolute;
  z-index: -1;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white;
}

a.nav-link:hover {
    border-bottom: 1px solid white;
}

.banner h1 {
  font-weight: bold;
  font-size: 46px;
  margin-bottom: 10px;
  font-family: $headers-font;
}

.banner p {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: $sub-headers-font;
}

.box {
  margin: 2px;
  height: 40px;
  border-radius: 8px;
}

.box-login {
  width: 387px;
  margin: 2px;
  height: 40px;
  border-radius: 8px;
}

.form-container {
  margin-left: 3vw;
  margin-bottom: 150px;
}

.loader {
      height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
