.box {
  margin: 2px;
  height: 40px;
  border-radius: 8px;
}

.banner-user {
  background-repeat: no-repeat;
  background-position: left;
  height: calc(100vh - 63px);
  display: flex;
  align-items: center;
}

.form-sign-up {
  border-radius: 8px;
  margin: auto;
  margin-top: 20px;
  width: 33%;
  padding: 8px;
  background-color: #04d3f70d;
}

.form-sign-up p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: $sub-headers-font;
}

.form-sign-up h2  {
  text-align: center;
  margin-top: 10px;
  display: center
}

.container {
  margin-top: -10px;
  margin-left: 3vw;
  border-radius: 8px;
  width: 33%;
  padding: 8px;
  background-color: #04d3f70d;
}

small, .small {
    font-size: 80%;
    font-weight: 400;
    margin-left: 4px;
}


