.text-center {
  text-align: center;
}

.profile-name {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.info-profile {
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.color-number {
  color: #32979F;
  font-weight: bold;
}

.fake-link {
  margin-top: 10px;
}

.fake-link h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: black;
}

.fake-link a:hover {
  text-decoration: none;
}
