.fa-pencil-alt:before {
    content: "\f303";
    margin-left: 7px;
}

.fa-redo-alt:before {
    content: "\f2f9";
    margin-left: 7px;
}

.fa-check-square:before {
    content: "\f14a";
    margin-left: 7px;
}


.fa-star:before {
    content: "\f005";
    color: #fad269;
}

.button-block {
  display: flex;
  justify-content: start;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.warning {
  font-size: 16px;
}

.from-to {
  background-color: white;
  border: 1px solid #32979F;
  color: black;
  padding: 6px;
  border-radius: 10px;
  margin-bottom: 6px;
  p {
    font-weight: bold;
    color: #32979F;
    margin: 0;
    padding-right: 10px;
  }
}

.to-padding {
  padding-right: 33px !important;
}
