.fa-pencil-alt:before {
    content: "\f303";
    margin-left: 7px;
}

.fa-redo-alt:before {
    content: "\f2f9";
    margin-left: 7px;
}

.fa-check-square:before {
    content: "\f14a";
    margin-left: 7px;
}


.fa-star:before {
    content: "\f005";
    color: #fad269;
}

.button-block {
  display: flex;
  justify-content: start;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.warning {
  font-size: 16px;
}
