.fa-pencil-alt:before {
    content: "\f303";
    margin-left: 7px;
}

.fa-redo-alt:before {
    content: "\f2f9";
    margin-left: 7px;
}

.button-block {
  display: flex;
  justify-content: space-between;
}
