.btn {
  color: $mainColor;
  background-color: $mainColor;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  height: 60px;
}

.btn-primary {
  color: $mainColor;
  background-color: $mainColor;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #009f9d;
}

.btn:hover {
  background-color: #009f9d;
  color: white;
}

.signup-button {
  display: block;
  width: 101%;
}

.edit-btn {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.confirm-btn {
  display: block;
  width: 100%;
  background-color: #fad269;;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.modal-btn {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.confirm-btn:hover {
  background-color: #ffdd5a;
}

