.btn {
  color: $mainColor;
  background-color: $mainColor;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  height: 40px;
}

.btn-primary {
  color: $mainColor;
  background-color: $mainColor;
  border: none;
  color: white;
  height: 40px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 4px;
}

.btn-primary:hover {
  background-color: #009f9d;
}

.btn:hover {
  background-color: #009f9d;
  color: white;
}

.signup-button {
  display: block;
  width: 101%;
  font-size: 16px;
}

.btn-edit{
  background-color: #000000c9;
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 5px;
}

.btn-done{
  background-color: $mainColor;
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 5px;
}

.btn-edit:hover {
  background-color: #212529;
}

.btn-generate {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 10px;
  margin-left: 4px;
  font-size: 14px;
}

.confirm-btn {
  display: block;
  width: 100%;
  background-color: #fad269;;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.modal-btn {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.confirm-btn:hover {
  background-color: #ffdd5a;
}

