.navbar-lewagon {
  justify-content: space-between;
  background: $mainColor;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: $white;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;


}

