.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: auto;
  font-family: 'Open Sans', sans-serif;
  background: #ecdd66;
  border-radius: 16px;
  opacity: 0.9;
}

.pop-img {
  height: auto;
  width: auto;
}
