/* Style the tab */
.tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: $yellow;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  // background-color: inherit;
  background-color: #ccc;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #32979F;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
